$main-font: 'Roboto Serif';
$main-text-color: #000;
$header-text-color: #fff;
$header-current-color: #ff001b;
$form-message-color: #ff001b;

$modal-config-text-color: #8c8c8c;
$modal-fist-btn-text-color: #fff;
$modal-fist-btn-bg-color: #ff6b01;
$modal-second-btn-bg-color: #fff;
$btn-border-color: #000;

$active-btn-text-color: #fff;
$active-btn-bg-color: #ff6b01;

$inactive-btn-text-color: #000;
$inactive-btn-bg-color: #ffffff;

$header-btn-border-color: #fff;
