#header {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    #header {
        margin-bottom: 60px;
    }
}

.header__container {
    padding-top: 40px;
    padding-bottom: 10px;
}

.header__logo_link {
    display: flex;
    align-items: center;
}

.header__logo {
    animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}

@keyframes rotateY {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }

    100% {
        transform: perspective(400px) rotateY(180deg);
    }
}

.header__logo-text {
    display: none;
    margin-left: 10px;
    color: $header-text-color;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16;
}

@media screen and (min-width: 768px) {
    .header__logo-text {
        display: inline-block;
    }
}

.header__nav {
    display: flex;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .header__nav {
        margin-bottom: 37px;
    }
}

.header__nav_list {
    display: flex;
    margin-left: auto;
    padding-top: 4px;

    color: $header-text-color;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16;
    text-transform: uppercase;
}

.header__nav-item:not(:last-child) {
    margin-right: 40px;
}

